.main {
    background-color: black;
}

.navbar {
    position: sticky;
    top: 0;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    padding: 15px 0px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}